:root {
    --white: rgb(248, 248, 248);
    --darker-white: rgb(235, 235, 235);
    --light-gray: rgb(200, 200, 200);
    --dark-gray: rgb(110, 110, 110);
    --turquoise: rgb(40, 141, 136);
    --bordeau: rgb(90, 54, 99);
}

html {
    height: 100%;
}

body {
    background-color: var(--white);
    color: var(--dark-gray);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-left: 0.5em;
}

.middle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#tools-btn-group {
    display: flex;
    order: 0;
}

#tools-btn-group > span {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    color: var(--light-gray);
}

#tools-btn-group > span:hover {
    color: var(--turquoise);   
}

#tools-btn-group > span:active {
    box-shadow: 0 0 3pt 0 rgba(40, 141, 136, 0.4);
}

#tools-btn-group.left {
    order: 1;
}

#min-max-btn {
    transition: transform 0.5s;
    order: 0;
}

#min-max-btn.left {
    order: 2;
}

#min-max-btn.rotated {
    transform: rotateY(180deg);
}

#switch-sides-btn {
    font-weight: 800;
    order: 1;
}

#switch-sides-btn.rotated {
    transform: rotateY(180deg);
}

#undo-btn {
    font-size: 1.4em !important;
    width: 70px !important;
    order: 2;
    display: none;
}

#undo-btn.left {
    order: 0;
}

#name {
    font-size: 3em;
    order: 1;
}

#name.left {
    order: 0;
}

#cols-btn:not(.active):hover {
    border: 2px solid var(--bordeau);
}

#cols-btn.active {
    background-color: var(--bordeau);
}

.tab-nav {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

.cols-pool-border {
    display: none;
    border: var(--darker-white) solid 2px;
    border-radius: 10px;
    width: 90%;
    height: 10em;
    max-width: 90%;
    max-height: 10em;
    align-self: center;
    margin-bottom: 20px;
}

.cols-pool {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.cols-pool::-webkit-scrollbar {
    display: none;
}

.card {
    background-color: var(--darker-white);
    border: 0;
}

.card-header {
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 0;
    cursor: pointer;
    padding: 0;
    height: 5em;
}

.card-header.collapsed {
    background-color: var(--white);
}


.card-header:hover {
    background-color: var(--darker-white);
}

button {
    background-color: var(--darker-white);
    color: var(--dark-gray);
    border-radius: 10px;
    border: none;
    outline: none !important;
    font-size: 1em;
    font-weight: 800;
}

.primary-btn {
    background-color: var(--white);
    color: var(--dark-gray);
    height: 3.5em;
    width: 10em;
}

.primary-btn:not(.active):hover {
    border: var(--turquoise) solid 2px;
}

.primary-btn.active {
    background-color: var(--turquoise);
    color: var(--white);
}

.secondary-btn {
    background-color: var(--white);
    width: 9em;
    height: 2.5em;
}

.col-btn {
    display: inline-flex;
    color: var(--light-gray);
    margin-bottom: 8px;
    margin-right: 4px;
    padding-right: 20px;
}

.col-btn.active {
    background-color: var(--bordeau);
    color: var(--darker-white);
}

.col-name {
    margin: 0;
    position: relative;
    left: 6px;
    transition: left 0.5s;
    transition-delay: 0.3s;
}

.col-rename {
    display: none;
    background-color: inherit;
    color: inherit;
    border: 0;
    outline: 0;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
}

.col-rename:focus {
    outline: 1px dashed var(--light-gray);
}

.col-btn:hover > .col-name {
    left: 0px;
}

.col-remove {
    display: block;
    color: rgba(255, 0, 0, 0.33);
    opacity: 0;
    position: relative;
    left: 5px;
    width: 0;
    height: 0;
    transition: opacity 0.5s;
    transition-delay: 0.3s;
}

.col-btn:hover > .col-remove {
    opacity: 1;
}

#add-col-btn {
    background-color: transparent;
    padding-right: 0;
    transition: color 0.3s;
}

#add-col-btn:hover {
    color: var(--turquoise);
}

.toggled-btn {
    transform: translateY(1px);
    box-shadow: 0px -2px 2px 1px darkgrey;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

h5 {
    margin: 0;
}

.search-form-last {
    display: flex;
    justify-content: flex-end;
}

.form-control {
    display: flex;
    width: 60%;
}

.form-control:focus {
    border-color: rgba(40, 141, 136, 0.534);
    box-shadow: 0 0 0 0.2rem rgba(40, 141, 136, 0.24);
}

.form-control.invalid:focus {
    border-color: rgba(255, 0, 0, 0.534);
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.24);
}

#css-input {
    max-height: 200px;
}

.text-small {
    font-size: 0.8em;
    padding-right: 10px;
    margin: 0;
}

#contains-exact {
    align-self: center;
}

#css-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#css-form-error {
    font-size: 0.8em;
    color: red;
    transition: opacity 0.2s;
    opacity: 0;
}

.form-control.invalid ~ #css-form-error {
    opacity: 1;
}

.btn-group {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    padding: 15px;
}

#download-btn {
    width: 7em;
    z-index: 2;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#download-btn:hover + #format-select {
    left: 0;
}

#format-select {
    position: relative;
    left: -64px;
    transition: left 0.3s;
    transition-delay: 0.1s;
    width: 6em;
    height: 3.5em;
    background-color: transparent;
    border: 1px solid var(--turquoise);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#format-select:hover {
    left: 0;
}

#format-select:focus {
    box-shadow: none;
}

.switch-container {
    display: flex;
    width: 60px;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.switch-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.switch-outter {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.switch-outter:active {
    background-color: var(--turquoise);
    opacity: 0.6;
}

.switch-container input:checked ~ .switch-outter.switch-row {
    background-color: var(--turquoise);
    box-shadow: 0 0 0 0.1rem rgba(40, 141, 136, 0.24);
}

.switch-container input:checked ~ .switch-outter.switch-col {
    background-color: var(--bordeau);
    box-shadow: 0 0 0 0.1rem rgba(90, 54, 99, 0.24);
}

.switch-container input:checked ~ .switch-outter > .switch-inner {
    left: 30px;
    background-color: var(--white);
}

.switch-inner {
    display: block;
    width: 25px;
    height: 24px;
    border-radius: 20px;
    border: 1px solid var(--light-gray);
    background-color: var(--light-gray);
    position: relative;
    top: 2px;
    left: 3px;
    transition: left 0.2s, background-color 0.2s ease-in-out;
}
