.scraping-highlighted {
    z-index: 9999999 !important;
    background-color: rgba(255, 197, 121, 0.445) !important;
    box-shadow: rgba(255, 197, 121, 0.445) 0px 0px 1px 3px !important;
    cursor: crosshair !important;
}

.scraping-selected {
    z-index: 9999999 !important;
    outline: rgba(255, 197, 121, 0.8) dashed 3px !important;
}

.scraping-selected-current {
    z-index: 9999999 !important;
    outline: rgba(255, 145, 0, 0.8) dashed 3px !important;
}

.scraping-dom-navigation {
    width: 154px;
    height: 50px;
    position: absolute;
    z-index: 9999999;
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
}

.scraping-dom-navigaton-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: none;
    background-color: rgb(39, 156, 150);
    color: white;
    outline: none;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.scraping-dom-navigaton-button:hover {
    background-color: rgb(39, 145, 139);
}

.scraping-dom-navigaton-button:active {
    box-shadow: 0 0 3pt 0 rgba(40, 141, 136, 0.534);
    transform: translateY(1px);
}

.scraping-iframe-panel {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 9999999 !important;
    height: 100% !important;
    width: 400px !important;
    background-color: white !important;
    box-shadow: 5px 0 20px 2px lightgray !important;
}