:root {
    --turqoise: rgb(38, 161, 155);
    --turqoise-darker: rgb(39, 145, 139);
    --bordeau: rgb(105, 54, 117);
    --bordeau-darker: rgb(92, 36, 89);
}

.scraping-highlighted {
    z-index: 2147483646 !important;
    background-color: rgba(255, 197, 121, 0.445) !important;
    background: rgba(255, 197, 121, 0.445) !important;
    box-shadow: rgba(255, 197, 121, 0.445) 0px 0px 1px 3px !important;
    cursor: crosshair !important;
}

.scraping-selected-row {
    z-index: 2147483645 !important;
    outline: var(--turqoise) dashed 3px !important;
}

.scraping-selected-col.scraping-active {
    z-index: 2147483645 !important;
    outline: var(--bordeau) dashed 3px !important;
}

.scraping-dom-navigation {
    width: 154px;
    height: 50px;
    position: absolute;
    z-index: 2147483646;
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.scraping-dom-navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: none;
    color: white;
    outline: none;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.scraping-dom-navigation-row-button {
    background-color: var(--turqoise);
}

.scraping-dom-navigation-col-button {
    background-color: var(--bordeau);
}

.scraping-dom-navigation-row-button:hover {
    background-color: var(--turqoise-darker);
}

.scraping-dom-navigation-col-button:hover {
    background-color: var(--bordeau-darker);
}

.scraping-dom-navigation-button:active {
    transform: translateY(1px);
}

.scraping-dom-navigation-row-button:active {
    box-shadow: 0 0 3pt 0 rgba(40, 141, 136, 0.534);
}

.scraping-dom-navigation-col-button:active {
    box-shadow: 0 0 3pt 0 rgba(103, 34, 98, 0.534);
}

.scraping-iframe-panel {
    position: fixed !important;
    top: 0 !important;
    z-index: 2147483646 !important;
    width: 400px !important;
    height: 100% !important;
    background-color: white !important;
    transition: right 0.3s, left 0.3s;
}

.scraping-iframe-panel.scraping-right {
    right: 0 !important;
    box-shadow: 5px 4px 20px 2px black !important;
}

.scraping-iframe-panel.scraping-left {
    left: 0 !important;
    box-shadow: -5px 4px 20px 2px black !important;
}

.scraping-iframe-panel.scraping-right.scraping-minimized {
    right: -300px !important;
}

.scraping-iframe-panel.scraping-left.scraping-minimized {
    left: -300px !important;
}
